@colorback1:#FFFFFF;
@colorback2: #F2F2F2;
@colorred:red;
@colorindex:#1E2631;
html{
    font-family: sans-serif;
}
    .page-header{
    background-color:#293646;
}

.menu{
    color:rgb(228, 227, 227);
}
.menu__list{
    text-align:center;
     margin: 0;
     padding: 0;
    list-style-type: none;
}
.authorization{
    background-color:@colorback1;
    padding:0;
    padding-bottom:20px;
}
.authorization p {
    text-align: center;
   
}
.authorization h2{
    color:@colorred;
}
.progress{
    background-color: @colorback2;
}
.progress h2{
    margin:0;
    padding-bottom:10px;
}
.telephone{
    background-color:@colorback1;
    padding-bottom: 20px;
}
.telephone h2{
    margin:0;
    color:@colorred;
    padding-top:20px;
    padding-bottom:10px;
}
.app{
    background-color:@colorback2;
}
.app p{
    padding:5px;
}
.app h2{
    margin:0;
    color:@colorred;
    padding-bottom:20px;
}
.comment{ 
     background-color:@colorback1;
}
.comment h2{
    padding-top:35px;
    margin:0;
    padding-bottom:10px;
    color:@colorred;
}
.footer-page{
    background-color:@colorback1;
}

p{
    margin:0;
}
.menu__list li{
    padding-top:15px;
    padding-bottom:15px;
    border-bottom: 1px solid rgb(0, 0, 0);
}
.menu__list a{
    color:rgb(228, 227, 227);
    text-decoration: none;
    text-transform: uppercase;
}
.lozung{
    font-size: 15pt;
}
.page-main__photo h2{
margin: 0;
}
.page-main__photo{
    color:@colorback1;
    background-color:@colorindex;
}
.page-main__download {
    box-sizing: border-box;
    font-size: 18px;
    line-height: 18px;
    font-weight: 700;
    color: @colorback1;
    border: 3px solid @colorback1;
    border-radius: 100px;
    background-color: transparent;
    text-align: center;
    width: 280px;
    padding: 15px 0;
    margin: 30px auto;
  }
  
 .message{
     height:200px;
  background-color:@colorback1;
 } 
 .message h2{
     margin:0;
 }
 .message-left{
    height:32px;
    background-color:@colorback2;
    background-image: linear-gradient(to top left, transparent 50%, white 50%);
   
 }
.adventages{
    background-color:@colorback2;
}
.adventages h3{
    margin:0;
}

.reviews__item{
    margin:0;
}
.reviews{
    background-color:@colorback1;
    margin:0;
  text-align:center;
}
.reviews__item p{
    font-size:18pt;
}
.list-buy{
    background-color:@colorback2;
}
.page-footer{
    background-color:@colorback1;
}
.main-page__head, .main-page_photo,.main-page__intro{
    background-color:@colorback1;
}
.redactor{
    background-color:@colorback2;
}
.main-page__anna,.main-page__person,.main-page__anton,
.main-page__boris,.main-page__sergey,.main-page__maks,
.main-page__nade{
    background-color:@colorback2;

}
body{
    display:block;
    background:#008000;
    width:22%;
    padding-top: 0;
    border-top: 0;
    outline: 0;
    margin:0;
}
h1{
    margin:0;
}
