@colorback1:#FFFFFF;
@colorback2: #F2F2F2;
@colorred:#d22856;
@colorindex:rgb(24, 27, 31);
@import "blocks/page-header.less";
@import "blocks/index.less";
@import "blocks/photo.less";
html{
    font-family: "sans-serif","Open Sans";
    background-color:@colorback1;
   
}

.main-page__tittle{
    span{
    display:none;
}
}
.lozung-desktop{
    display:none;
}
.main-page__title-desktop{
    display:none;
}
.button__menu{
    display:none;
}
.button__close{
   // display:none;
}

@media (min-width: 700px){
    .menu__navigator{ // добавить контент для адаптации
        height:90px;
        background-color: rgba(0, 0, 0, 0.3);
        max-width:1400px;
        
       // min-width:1200px;
        display:flex;
      //  justify-content: space-between;
        text-transform: none;
        box-sizing: border-box;
        align-items:center;
        padding: 0 100px;
        margin:0 auto;
      
        a  {  
       
        font-size:14px;
        }
      
        h1{
            padding-left:90px;
            padding-top:15px;
        }
    }
    .list__enable_cr{
        background:white url("/res/gal.svg") no-repeat center;
        background-size:38px;
    }
   .list__enable_z{
        background:white url("/res/cross.svg") no-repeat center;
        background-size:38px;
    }
.open__menu{
position: absolute;
top:0;
right:0;
z-index:2;

display:block;
width:70px;
height:50px;

background-color:rgb(75, 48, 48);   
cursor: pointer;
border:none;
&:hover, &:active{
    background-color:red;
}
}
.menu--closed .open__menu::before{
    content: "";
    position: absolute;
    top:15px;
    left:17px;
    width:36px;
    height:2px;

    background-color:green;
    box-shadow:0 8px 0 0 white, 0 16px 0 0 white;
    
   
}
.menu--closed .open__menu:active::before{
    background-color:blue;
    box-shadow:0 8 px 0 0 blue, 0 16px 0 0 blue;
}
.menu__item
{
  //  position: relative;
    display: inline-block;
  
}
.button__menu{
    max-width:1300px;
  // margin:0 auto auto 1050px;
  margin: auto;
    padding-right:10px;
  //  margin-left:20px;
    right:50px;
    position: absolute;
    display:block;
    z-index: 0;
}
.menu__item .menu__list{ // выпадающая менюшка
   right: 99px;
   position: absolute;
    min-width: 250px;
    overflow: auto;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    background: rgb(2,0,36);
    background: linear-gradient(180deg,rgb(81, 81, 146) 0%, blue 15%, rgba(182,121,74,1) 100%);
    color:white;
    z-index: 1;
    img{
        position: absolute;
        margin:0;
        padding:0;
        right:0px;
        top:10px;
    }
}

.menu__item a {
    color: rgb(218, 202, 202);
    padding: 12px 16px;
     text-decoration: none;
    display: block;
    
}
/*.menu__item{
.menu__list{
display:block;
}
}*/
/*.menu__item:hover .menu__list{ // клик
    display:block;
}*/
/*
.menu__item .button__menu{
    position: relative;  
    width:50px;
    padding:0;
    margin:0;
    
    cursor: pointer;
}

.menu__item  .menu__list{
    position: absolute;
    top:10px;
    right:40px;
    min-width:100px;
    width:200px;
    z-index: 1;
    li{
        background:green;
        margin:0;
   
        padding:25px 35px;
        border:1px solid white;
    }*/
    /*
    top:10px;
    right:40px;
    min-width:100px;
    width:200px;
    position: absolute;
  
    background:green;
    li{
        margin:0;
        padding:25px 35px;
        border:1px solid white;
    }*/
//}
.button__menu{
    display:none;
}
.button__close{
//    display:none;
}
.menu__item{
    display:none;
}
.show {display: block;}
/*.menu__item .menu__list{
    display:none;
    position: absolute;
    margin:0;
    padding:0;
    top:20px;
    right:100px;
    background-color:rgb(90, 69, 31);
}
.menu__list > li{

    display:block;
    border:2px solid red;
    list-style-type:none;
    text-decoration: none;
}*/
/*.open__button:not(:focus):not(:active){
        position: absolute;
        width:1px;
        height:1px;
        margin:-1px;
        border:0;
        padding:0;

        white-space: nowrap;
        clip-path:inset(100%);

        clip:rect(0 0 0 0);
        overflow: hidden;
    }

    .main-page__tittle{
        span{
        display:none;
    }*/
//}
.lozung-desktop{
    display:none;
}
    .telephone{
      h3{
      display:none;
    }
}

.main-page__title-desktop{
    display:none;
}
}
@media (min-width: 1000px){
   
    .bottom_menu{
        display:flex;
        padding:0;
        flex-direction: row;
        margin: 0 auto;
        box-sizing: border-box;
        width:100%;
        height:80px;
       
        button{
            margin-right:auto;
            background-color:green;
             color:@colorback1;
             width:200px;
        }
        p1{
            margin-left:auto;
        }
    }
    .main-page{
        display:flex;
        flex-direction: column-reverse;
    }
    .main-page__title-desktop{
        display:none;
    }
    .authorization p, .authorization h2{
        text-align:center;
        padding-top:14px;
        padding-left:15px;
      
    }  
    .authorization p{
        font-size:12pt;
    }
    .authorization h2{
        font-size:10pt;
    }
    input[type="text"]{
        width:95%;
        border:1px solid silver;
        height:20px;
        padding-top:8px;
        padding-left:10px;
        padding-bottom:5px;
        margin-top:12px;
        margin-left:10px;
        margin-right:15px;
        font-size:12pt;
       
    }
    .authorization {
        order:6;
        .block1{
       
        display: flex;
    }
    .main-page__tittle{
        span{
        display:inline;
    }
    }
    }
    .progress{
        order:4;
    }
    .telephone{
        order:5;
    }
    .send{
        order:1;
    }
    .comment{
        order:3;
    }
    .bottom_menu{
        order:0;
    }
    .news{
        order:7;
    }
  
   
    
    .app{
        
        border:2px solid rgb(194, 194, 194);
        order:5;
        background-color:@colorback1;
        h2{
            font-size:14px;
            margin-top:-24px;
            background-color:white;
            max-width:370px;
            text-align:center;  
            margin-left:auto;
            margin-right:auto;
            text-transform: uppercase;
        }
    }
    .telephone{
        border:2px solid rgb(194, 194, 194);
        margin-top:40px;
        h3{
            display:block;
            text-align:center;
            font-size:14px;
            margin-top:-8px;
            background-color:@colorback1;
            max-width:330px;
            margin-left:auto;
            margin-right:auto;
            color:@colorred;
            text-transform: uppercase;
        }
    }
    .progress{
        border:2px solid rgb(194, 194, 194);
        margin-top:40px;
        background-color:@colorback1;
        h2{
            text-align:center;
            font-size:14px;
            margin-top:-20px;
            background-color:@colorback1;
            max-width:450px;
            margin-left:auto;
            margin-right:auto;
            color:@colorred;
            text-transform: uppercase;
        }
       .form-1{
             display:none;
       }
    }
    .comment{
        border:2px solid rgb(194, 194, 194);
        margin-top:40px;
        margin-bottom:25px;
        padding: 0 50px;
        padding-bottom:40px;
        h2{
            text-align:center;
            font-size:14px;
            margin-top:-20px;
            background-color:@colorback1;
            max-width:280px;
            margin-left:auto;
            margin-right:auto;
            color:@colorred;
            text-transform: uppercase;
        }
      button{
          display:none;
      }
       .warning{
          display:none;
       }
       .emotias{
      width:100%;
      
    }
    }
   
    
    
}
@media(min-width:1200px){
    .menu__navigator{
        width:100%;
        max-width:100%;
    }
    .bottom_menu{
        display:flex;
        padding:0;
        flex-direction: row;
        margin: 0 auto;
        box-sizing: border-box;
        width:100%;
        height:80px;
       
        button{
            margin-right:auto;
            background-color:green;
             color:@colorback1;
             width:200px;
        }
        p1{
            margin-left:auto;
        }
    }
    .menu{ 
        text-align: center;
        background:url("/Pink/res/fon-desktop.jpg")no-repeat center 0;
        height:320px;
    }
    .main-page{
        flex-direction: row;
    flex-wrap: wrap;
    -ms-grid-row-align: stretch;
    align-items: stretch;
    width: 1000px;
    padding: 0 130px;
    margin: 0 auto;
     
    }
    .lozung{
        display:none;
       
    }
    .lozung-desktop{
        font-size:34pt;
        text-align:center;
        margin-top:60px;
        font-weight:200;
        
    }
  
    
    .menu__item{
      //  max-width:950px;  
        font-weight:100;
       
    }
    /*.menu__list{
        display:flex;
        justify-content: space-between;
        flex-wrap: wrap;
        li{
            margin-left:20px;
            padding-top:25px;
            margin-right:100px;
            border-bottom:none;
        }
    }*/
    .authorization{
       .main-page__title-desktop{
           padding-top:60px;
           font-size:20px;
           font-weight: 300;
           height:120px;
       }
        .main-page__tittle{
            display:none;
            
        }
        .block1{
            width:400px;
        }
        .FIO{
            text-align:left;
        }
        input[type="text"]{
            width:100%;
        }
    }
    .authorization{
        margin-top: 14px;
        margin-right: 70px;
        padding: 0;
        order:0;
        margin:0;
        max-width:1200px;
      
    }
    .block{
        order:1;
    }
    .app{
        margin-top:30px;
        flex-direction:row;
        padding:0;
        width: 450px;
        order:1;
        margin-left:auto;
        padding: 0 60px;
    }
    .telephone{
        input[type="text"]{
            margin-bottom:10px;
        }
        h2{
            padding:0;
            text-align:left;
        }
        order:3;
        width:960px;
        padding: 0 200px;
        h3{
        display:block;
    }
}
.telephone__tel{
    display:flex;
    flex-wrap:wrap;
    justify-content: space-around;
    h2{
        order:1;
        width:35%;

    }
    
    input[type="text"]{
        width:35%;
       
        order:0;
    }
}

    .progress{
        width:960px;
        padding-left:50px;
        padding-right:50px;
        flex-wrap: wrap;
         height: 400px;
        align-content: space-between;
        justify-content: space-between;
        h2{
        margin-bottom: 30px;
        margin-left: 250px;
        order: 0;
        width:400px;
        margin-right:194px;
        padding-right:17px;
        }
        p{
           
        font-size:18px;
        order:1;
        margin-bottom:50px;
        padding-left:60px;
     
        }
        display:flex;
        
 
    }
    .check1{
        margin-left:10px;
    //   padding-right:px;
    }
    .check2{
        padding-right:20px;
        margin-right:13px;
    }
    .comment{
        order:5;
        width:960px;
        padding:0 100px;
        

        h2{
            padding-top:10px;
        }
     
    }
    .emotias{
    margin-bottom:30px;
       width:100%;
    }
   
   .bottom_menu{
       display:flex;
       order:6;
       width:960px;
      margin-bottom: -13px; 
      margin:0;
   }
   .news{
       width:960px;
       order:0;
       padding: 0 200px;
   }
 

}
.main-page{
    display: flex;
    flex-direction: column;
    align-items: stretch;
    margin: 0 auto;
    padding: 0;
}
.authorization{
    input[type="text"]{
        padding-top:5px;
        width:95%;
        padding-left:5px;
        border:1px solid rgb(199, 199, 199);
    }
    background-color:@colorback1;
    padding:0 20px;
    padding-bottom:20px;
}
.authorization p {
    text-align: center;
}
.authorization h2{
    color:@colorred;
}
.progress{
    padding:0 10px;
    background-color: @colorback2;
}
.progress h2{
    margin:0;
    padding-bottom:10px;
}
.telephone{
    background-color:@colorback1;
    padding:0 20px;
    padding-bottom: 20px;
}
.telephone h2{
    margin:0;
    color:@colorred;
    padding-top:20px;
    padding-bottom:20px;
}
.app{
    background-color:@colorback2;
    margin-top:40px;
}
.app p{
    padding:5px;
}
.app h2{
    margin:0;
    color:@colorred;
    padding-bottom:20px;
    padding-right:10px;
}
.comment{ 
     background-color:@colorback1;
}
.comment h2{
    margin:0;
    padding-bottom:10px;
    color:@colorred;
}
.footer-page{
    background-color:@colorback1;
}

p{
    margin:0;
}
.menu__list li{
    padding-top:15px;
    padding-bottom:15px;
    border-bottom: 1px solid rgb(0, 0, 0);
}
.menu__list a{
    color:rgb(228, 227, 227);
    text-decoration: none;
    text-transform: uppercase;
}
.lozung{
    font-size: 15pt;
}
.page-main__photo h2{
    margin: 0;
}
.page-main__photo{
    color:@colorback1;
    background-color:@colorindex;
}
.page-main__download {
    box-sizing: border-box;
    font-size: 18px;
    line-height: 18px;
    font-weight: 700;
    color: @colorback1;
    border: 3px solid @colorback1;
    border-radius: 100px;
    background-color: transparent;
    text-align: center;
    width: 280px;
    padding: 15px 0;
   // margin: 30px auto;
  }
  /*
 .message{
    height:200px;
    background-color:@colorback1;
 } 
 .message h2{
     margin:0;
 }
*/  
.adventages{
    background-color:@colorback2;
    margin:0;
}
.adventages h3{
    margin:0;
}

.reviews__item{
    margin:0;
}
.reviews{
    background-color:@colorback1;
    margin:0;
  text-align:center;
}
.reviews__item p{
    font-size:18pt;
}
.list-buy{
    background-color:@colorback2;
}
.page-footer{
    background-color:@colorback1;
}
.main-page__head, .main-page_photo,.main-page__intro{
    background-color:@colorback1;
}
.redactor{
    background-color:@colorback2;
}
.main-page__anna,.main-page__person,.main-page__anton,
.main-page__boris,.main-page__sergey,.main-page__maks,
.main-page__nade{
    background-color:@colorback1;

}
.photo__deskription{
    background-color:@colorback2;
}

body{
    display:block;
    background:@colorback1;
    width:320px;
    padding-top: 0;
    border-top: 0;
    outline: 0;
    margin:0;
}
h1{
    margin:0;
}
.news{
    padding:0 20px;
}
.bottom_menu{
      padding-top:10px;
        height:120px;
        font-size:14px;
        button{
         background-color:green;
         color:@colorback1;
         font-size:18px;
         height:60px;
         margin-top:30px;
         margin-left:5px;
        }
        p{
        margin-top:50px;
           
        }
}
.warning{
    display:none;
}
.emotias{
    min-width:200px;
    height:140px;
    padding:10px;
    border:1px solid grey;
}