@media (min-width: 320px)and (max-width:700px){
.content{
    min-width:320px;
    max-width:440px;
    margin:0 auto;
    min-height:150px;
.lozung{
    padding-top:30px;
    font-size:24px;
    font-weight: 300;
}
}
.menu__navigator{
    min-height:70px;
}
.main-page__tittle{
    margin:40px 30px 40px;
    font-size:20px;
}
.news{
    margin:0 auto;
    text-align: center;
    max-width:550px;
}
.authorization{
    padding:10px 10px 60px;
}
.block1{
 //   text-align: left;
    margin:0 auto;
    min-width:320px;
    max-width:480px;
}
.FIO{
    text-align:left;
    margin-left:50px;
}
.block__text{
    font-size:20px;
    padding:20px 35px 20px;
    min-width:320px;
    max-width:0px;
}
.progress__in{
    display:flex;
    flex-direction: column;
    margin:0 auto;
    margin-top:40px;
    max-width:420px;
    input[type="checkbox"]{
        display:none;
    }
    .form-1{
        color:rgb(216, 32, 78);
        margin-bottom:30px;
    }
    .form-2{
        display:none;
    }
    p{
        text-align:left;
        margin-bottom:45px;
        font-size:22px;
        padding-left:10px;
    }
}
.progress-check{
    position: relative;
    text-align: left;
    padding-left:100px;
    margin-bottom:50px;
    font-size:20px;
    font-weight: 300;
    color:rgb(59, 59, 59);
}
.progress-check::before{
    content: "";
    position: absolute;
    margin:0 auto;
    left:0;
    top:-5px;
    width:30px;
    height:30px;
    border:2px solid red;
    background:white;
}
.progress__in input:checked + .progress-check::before{
    background: url("/img/gal-red.png") no-repeat center;
    background-size:32px;
}
}
