.message{
        background-image: linear-gradient(to top left, transparent 50%, white 50%);
}
@media(min-width:320px){
    .time{
       display:none;
    }
}
@media(min-width:760px){
    .time{
       display:block;
       text-align:left;
    }
    .time__container{
        
        max-width:50%;
        margin:0 0 30px auto;
        h2{
            font-size:30px;
        }
    }
    .message-telephone{
        display:none;
    }
    .adventages__wrapper{
        padding-top:50px;
        padding-bottom:10px;
        position: relative;
        max-width:960px;
    }
    .info-item{
        text-align:left;
        margin-left:400px;
        margin-bottom:30px;
    }
    .reviews__wrapper{
        display:none;
    }
}
