@media(min-width:760px){
   .redactor{
       order:1;
   }    
   .photo__like{
    padding-bottom: 24px;
    margin: 0 40px;
       display:flex;
       flex-wrap:wrap;
       justify-content: space-between;
       flex-direction: row;
       br{
           display:none;
       }
       
   }
   .main-page__intro{
       order:2;
   }
   .anna{
    order:0;
}
.photo__like{
    order:1;
    min-width:700px;
}
.photo__text{
    order:2;
    flex-basis: auto;
    font-size:18px;
    text-align:left;
}
   .photo{
       margin:0 auto;
       display:flex;
       justify-content: center;
       flex-wrap: wrap;
   }
   .photo__deskription{
       margin-right:15px;
       margin-left:15px;
       margin-bottom:20px;
       width:300px;
   }
 
}
@media(min-width:1200px){
    .menu{ 
        text-align: center;
        background:url("/Pink/res/fon-desktop.jpg")no-repeat center 0;
        height:320px;
    }
    .menu__wrapper{
        width:100%;
    }
    .main-page__intro{
        order:0;
    }
    .main-page__anna{
      margin:0;
    }
    .photo__like{
        min-width:1200px;
        margin: 0 130px;
    }
    .main-page{
        margin:0;
        width:100%;
        padding:0;
    }
    blockquote{
        margin:30px;
    }
    .main-bot{
        font-size:18px;
        font-weight: 400;
    }
    
  
}